body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}
.name-highlight{
  color: goldenrod;
}
.half-width{
  width: 35%;
  float: left;
  margin: 4%;
  padding:2%;
}
.half-width img {
  width: 70%;
}
.top-banner{
  background-image: url("images/top-banner.png");
  background-repeat:no-repeat;
}
section{
  height: 500px;
}
.button{
text-decoration: none;
background-image:linear-gradient(45deg, rgb(141, 175, 141), rgb(15, 228, 111));
padding: 10px 10px;
color: white;
border-radius: 5px;
font-weight: 700;
}
.biography{
  background-image: url("images/dream-bg.png");
  background-repeat:no-repeat;
  background-position: right;
}
.single-experience{
  box-shadow: 10px 10px 40px grey;
  border-radius: 5px;
  height: 80%;
  background-color: white;
}
.experience-area{
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position:left;
}
#baby-dev{
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
}
#full-stack{
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(79, 0, 143), rgb(250, 66, 219)) 1;
}